<div id="contact_form">
	<%= render 'spree/shared/error_messages', :target => @inquiry %>
  <%= form_for(@inquiry, :url => create_contact_url) do |f| %>
      <p>
          <%= f.label :inquiry_type, Spree.t(:inquiry_type) %><span class="required">*</span><br/>
          <%= f.select :inquiry_type, InquiryType.to_a %>
      </p>
      <p>
          <%= f.label :full_name, Spree.t(:full_name) %><span class="required">*</span><br/>
          <%= f.text_field :full_name %>
      </p>
      <p>
          <%= f.label :email, Spree.t(:email) %><span class="required">*</span><br/>
          <%= f.text_field :email %>
      </p>
      <p>
          <%= f.label :phone_number, Spree.t(:phone_number) %> <span class="required">*</span><br/>
          <%= f.text_field :phone_number %>
      </p>
      <p>
          <%= f.label :mobilephone_number, Spree.t(:mobilephone_number) %><br/>
          <%= f.text_field :mobilephone_number %>
      </p>
      <p>
          <%= f.label :message, Spree.t(:message) %> <span class="required">*</span><br/>
          <%= f.text_area :message, { :cols => 60, :rows => 4, :class => 'fullwidth' } %>
      </p>
    <br/>
    <%= f.submit Spree.t(:send_contact) %>
  <% end %>
</div>
