<%= render 'spree/shared/error_messages', :target => @inquiry %>
<div id="contact_form">
  <%= form_for(@inquiry) do |f| %>
      <p>
          <%= f.label :first_name, Spree.t(:first_name) %><span class="required">*</span><br/>
          <%= f.text_field :first_name %>
      </p>
      <p>
          <%= f.label :last_name, Spree.t(:last_name) %><span class="required">*</span><br/>
          <%= f.text_field :last_name %>
      </p>
      <p>
          <%= f.label :email, Spree.t(:email) %><span class="required">*</span><br/>
          <%= f.text_field :email %>
      </p>
      <p>
          <%= f.label :phone_number, Spree.t(:phone_number) %> <span class="required">*</span><br/>
          <%= f.text_field :phone_number %>
      </p>
      <p>
          <%= f.label :mobilephone_number, Spree.t(:mobilephone_number) %><br/>
          <%= f.text_field :mobilephone_number %>
      </p>
		  <p>
          <%= f.label :subject, Spree.t(:subject) %> <span class="required">*</span><br/>
          <%= f.text_field :subject %>
      </p>
      <p>
          <%= f.label :message, Spree.t(:message) %> <span class="required">*</span><br/>
          <%= f.text_area :message, { :cols => 60, :rows => 4, :class => 'fullwidth' } %>
      </p>
    <br/>
    <%= f.submit Spree.t(:send_contact) %>
  <% end %>
</div>
